@{
    ViewData["Title"] = "Quadrants";
}

@model List<Task_>

<div>
    In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of
    “Putting First Things First”, and suggests that Tasks on the To Do list be broken out into four
    Quadrants.<br />
    • Quadrant I: Important / Urgent<br />
    • Quadrant II: Important / Not Urgent<br />
    • Quadrant III: Not Important / Urgent<br />
    • Quadrant IV: Not Important / Not Urgent<br /><br />
</div>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Urgent and Important</td>
            <td>Urgent and Not Important</td>
            <td>Not Urgent and Important</td>
            <td>Not Urgent and Not Important</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Completed == false)
             {
                @if (item.Quadrant == 1)
                {
                    <tr>
                        <td>
                            @item.Category
                            @item.TaskName
                            @item.DueDate
                            @item.Completed
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                @if (item.Quadrant == 2)
                {
                    <tr>
                        <td></td>
                        <td>
                            @item.Category
                            @item.TaskName
                            @item.DueDate
                            @item.Completed
                        </td>
                        <td></td>
                        <td></td>

                        <td>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                @if (item.Quadrant == 3)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            @item.Category
                            @item.TaskName
                            @item.DueDate
                            @item.Completed
                        </td>

                        <td>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
                @if (item.Quadrant == 4)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @item.Category
                            @item.TaskName
                            @item.DueDate
                            @item.Completed
                        </td>

                        <td>
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.TaskId">
                                Edit
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.TaskId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>